:root{
    --color1: #e8eef1;
    --color2: #96cff1;
    --color3: #43b0f1;
    --color4: #057dcd;
    --color5: #056cb4;
    --color6: #1e3d58;
    --color7: #040413;
    --card-border-radius: 20px;
    --card-min-width: 37%;
}


body{
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
}



header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color6);
    box-shadow: 0 0 10px var(--color4) inset;
}

header h1{
    font-size: 40px;
    color: var(--color3);
    margin: 10px;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    height: 100%;
}

nav ul li{
    margin: 5px;
}

nav ul li a{
    display: flex;
    align-items: baseline;
    text-decoration: none;
    color: var(--color3);
    font-size:20px;
    font-weight: bolder;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: var(--color1);
}






#image-banner{
    width: 100%
}



main{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}




aside{
    background-color: var(--color3);
    width: 20%;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

aside img{
    width: 100%;
}

aside ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon{
    max-width: 30px;
    
    opacity: 0.75;
    background-color: none;
    transform: scale(1);
    transition: opacity 0.5s, transform 0.5s;
}

.icon:hover {
    opacity: 1;
    transform: scale(1.1);
}




#work{
    width: 80%;
    margin: 10px;
}

.card{
    width: 50%;
}

.card a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.card a img{
    width: 50%;
}

.card a h3{
    position: absolute;
    color: var(--color1);
    background-color: var(--color3);
}

