:root{
    --color1: #e8eef1;
    --color2: #96cff1;
    --color3: #43b0f1;
    --color4: #057dcd;
    --color5: #056cb4;
    --color6: #1e3d58;
    --color7: #040413;
    --card-border-radius: 20px;
    --card-min-width: 37%;
}


body{
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color6);
    box-shadow: 0 0 10px var(--color4) inset;
}

header h1{
    font-size: 40px;
    color: var(--color3);
    margin: 10px;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    height: 100%;
}

nav ul li{
    margin: 5px;
}

nav ul li a{
    display: flex;
    align-items: baseline;
    text-decoration: none;
    color: var(--color3);
    font-size:20px;
    font-weight: 900;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: var(--color1);
}






#image-banner{
    width: 100%;
    border-radius: 0 0 30px 30px;
}



main{
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    justify-content: space-around;
}




aside{
    background-color: var(--color3);
    width: 19%;
    padding: 10px 20px 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    color: var(--color7);
    /* justify-content: stretch; */
}

aside h2{
    width: 100%;
    /* border: 2px solid black; */
    text-align: center;
    margin-bottom: 5px;
    font-size: 175%;
}

aside img{
    width: 100%;
    border-radius: 30px;
}

aside p{
    margin: 10px 10px 5px;
    /* border: 2px solid black; */
    text-indent: 20px;
}

aside h3{
    width: 100%;
    /* border: 2px solid black; */
    text-align: center;
    margin-bottom: 10px;
    font-size: 125%;
}

aside ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid black; */
}

.icon{
    max-width: 30px;
    opacity: 0.75;
    background-color: none;
    transform: scale(1);
    transition: opacity 0.5s, transform 0.5s;
}

.icon:hover {
    opacity: 1;
    transform: scale(1.1);
}




#work{
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color3);
    border-radius: 30px;
}

#work h2{
    margin-top: 10px;
    /* margin-left: 3%; */
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 330%;
    color: var(--color7);
}

#work-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0 10px 10px;
    /* background-color:purple; */
    /* border: 3px solid black; */
}

.card{
    width: 49%;
    margin: 0.5%;
    transition: width 0.5s;
}

#best-work{
    width: 99%;
}

.card a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: stretch;
    width: 100%;
    /* padding: 5px; */
    background-color: var(--color4);
    border-radius: 30px;
    overflow: hidden;
    
}

.card a img{
    
    border-radius: 30px;
    transform: scale(1.04);
    opacity: 0.5;
    transition: transform 0.5s, opacity 0.5s;
    
}

.card a:hover img{
    transform: scale(1);
    opacity: 1;
}

/* .card:hover{
    width: 99%;
} */

.card a h3{
    position: absolute;
    color: var(--color1);
    background-color: var(--color4);
    font-size: 200%;
    padding: 0.5%;
    margin-top: 10%;
    font-weight: normal;
    font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    color: var(--color7);
    z-index: 1;
    /* border-radius: 30px 30px 0 0; */
    /* width: 100%; */
}

#best-work a h3{
    position: absolute;
    margin-top: 10%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px;
    margin-bottom: 1%;
    /* color: var(--color7); */
}

#contact-me{
    padding: 5px 10px 5px;
    font-size: 200%;
}

@media screen and (max-width: 992px) {
    main{
        flex-direction: column;
    }

    aside{
        width: 100%;
    }

    aside img{
        width: 50%;
    }

    aside p{
        width: 75%;
    }

    aside ul{
        width: 50%;
    }

    .icon{
        max-width: 70px;
    }

    #work{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    .card a h3{
        position: absolute;
        margin-top: 30%;
    }
}